<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice number:</strong>
  <%= @income.invoice_number %>
</p>

<p>
  <strong>Ruc number:</strong>
  <%= @income.ruc_number %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @income.total_amount %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @income.company_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @income.description %>
</p>

<p>
  <strong>Paid date:</strong>
  <%= @income.paid_date %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
